@model Contact

<h1>Add a New Contact</h1>
<!--/Contacts/Create url-->
<form asp-controller="Contacts" asp-action="Create" class="form-horizontal" role="form">

@Html.Partial("_EditContact", Model)

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="submit" class="btn btn-primary"> Add a Contact </button>
            <a asp-controller="Contacts" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </div>
    
</form>





